/*
 Theme Name:   UnderStrap Child
 Theme URI:    http://www.holgerkoenemann.de
 Description:  UnderStrap Child Theme
 Author:       Holger Koenemann
 Author URI:   http://www.holgerkoenemann.de
 Template:     understrap
 Version:      0.1.2
 License:      Commercial
 Text Domain:  understrap-child
*/