body {
	background-color:#262626;
}
// Fonts
h1,h2, .lead{
font-weight:100;
}

h3, h4, a.navbar-brand {
	font-weight:300;
}

h4 {color:#000; }

a:visited {color:inherit;}

//wrapper sizes
.wrapper-sm {
	padding: ($grid-gutter-width / 2) 0px
}

.wrapper-md {
	padding: ($grid-gutter-width) 0px
}

.wrapper-lg {
	padding: ($grid-gutter-width * 1.5) 0px
}

.wrapper-xl {
	padding: ($grid-gutter-width * 2) 0px
}

.wrapper-xxl {
	padding: ($grid-gutter-width * 2.5) 0px
}

//wrapper colors
.wrapper-default {
	background-color:#fff;
}

.wrapper-default a {
	color:$brand-dark;
	text-decoration:underline;
}


#wrapper-footer {
	background:none;
}
.wrapper-dark {
	background-color:$brand-dark;
	color:$brand-dark-text;
}

.wrapper-success {
	color:#fff;
	background-color: $brand-success;
}

.wrapper-success {
	h1,h2,h3,h4, h5, h6 {color:#fff}
}

.wrapper-hero {
	background-image: url(../img/hero.jpg);
	background-size: cover;
	background-position: bottom center;
}

#main-menu {
	float:right;
}
